################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bak
/.vs/CleanLook/v14
/CleanLook/bin
/CleanLook/obj/Debug
/CleanLook/obj/Release
/CleanLook/publish
/packages/HtmlAgilityPack.1.9.1/HtmlAgilityPack.1.9.1.nupkg
